.vid-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 376px;
  height: 527px;
  object-fit: cover;
  margin-left: 20%;
  margin-top: 5%;
  
}
.dob,
.fname,
.name {
  border: 0;
  background-color: #fffbfb;
  position: absolute;
  top: 327px;
  left: 163px;
  width: 203px;
  height: 27px;
  margin-left: 20%;
  margin-top: 5%;

}
.dob,
.fname {
  background-color: #fff;
  top: 393px;
  width: 203px;
  height: 26px;
  margin-left: 20%;
  margin-top: 5%;

}
.dob {
  top: 467px;
  left: 174px;
  width: 194px;
  height: 30px;
  margin-left: 20%;
  margin-top: 5%;

}
.photo-icon {
  position: absolute;
  top: 108px;
  left: 116px;
  width: 131px;
  height: 155px;
  object-fit: cover;
  margin-left: 20%;
  margin-top: 5%;

}
.vid-1-parent {
  position: relative;
  width: 100%;
  height: 527px;
  margin-left: 20%;
  margin-top: 5%;

}
